html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ---------------------------------------------------------------------------- */

:root {
    /* --light-green:#8DB48E; 
    --dark-green:#4D724D;  */
    /* --light-grey:#F5F5F5;  */
    /* --off-white:#f5f5f6; */
    --off-white:#ffffff;
    --light-teal:#aadcec;
    /* --white-dark: #e1e2e1a8; */
    /* --white-dark: #eceff7; */
    --white-dark: #f4f9fc;
    --grey: #37474f;
    --light-grey: #62727b;
    --dark-grey: #102027;
    --green: #9ccc64;
    --dark-green: #6b9b36;
    --light-green: #cfff94;
    --dark-blue: #0a1242;
    --light-pink:#fff7f7;
  }
 

html {
    scroll-behavior: smooth;

}


* {
    margin: 0;
    padding: 0;
    
}

body {
    line-height: 1;
    background-color: var(--white-dark);
    /* font-family: Open Sans, sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Bitter', serif;
    z-index: 10;
    color:var(--dark-blue)
}


a {
    color: black;
    text-decoration: none; /* no underline */
  }



/* Nav Bar */

nav {
    display:flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight:300;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s;
    background-color:#f4f9fc;
   
}

.navList {
    display: flex;
    justify-content: space-between;
    padding:1rem 1.9rem;
    

}

.navBar {
    padding:0rem 1rem;
    color:var(--dark-blue);
    font-weight: 400;
}

.navBar:hover {
    background-color: var(--light-teal);
}



/* Bottom Nav */

.bottom-nav {
    color:var(--white-dark);
    text-shadow: 1px 1px .1px rgba(0,0,0,0.3);
    position:fixed;
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    bottom: 0;
    left: 0;
    padding: .2rem 1.9rem;  
    z-index: 0;
    
}

.bottom-nav2 {
    color:var(--white-dark);
    text-shadow: 1px 1px .1px rgba(0,0,0,0.3);
    position:fixed;
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    bottom: 0;
    right: 0;
    padding: .2rem 1.9rem;  
    z-index: 0;
}

.footName {
    font-weight:100;
    color:var(--dark-blue)
}

/* Home Page  */

.mainContainer {
    /* font-size: 3.5rem;
    margin-left: 19rem; */
  
}

.homeContainer {
    min-height: 95vh;
    margin-left:1rem;
    margin-right:1rem;
    padding:0rem 1rem 3rem 15rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    background-color: #ffffff;
    z-index: -1;    
    color:black;
    color: var(--dark-blue);
}


.home {
    padding:.5rem 0rem;

}

.btnClass {
    box-shadow: rgba(143, 151, 160, 0.3) 0px 1px 2px 2px, rgba(153, 163, 170, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
    display: inline-block;
    padding:.6rem 1.3rem;
    font-size: 2.1rem;
    font-weight: 200;
    margin-top: 1.5rem;
}

.contactBtn {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
    display: inline-block;
    padding:.7rem 1.5rem;
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 1.8rem;
    transition:.3s;
    color: var(--dark-blue);
}

.contactBtn:hover {
    background-color:var(--light-teal);
    cursor: pointer;
}

.subTitle {
    font-size:2.7rem;
    font-weight:500;
 
}

.smallHeader {
    font-size:2.7rem;
    font-weight:500;
    
}

.myName {
    font-size:5.7em;
    /* text-shadow: .5px 1.5px 1px rgba(0,0,0,0.3); */
    font-weight:600;
}

.socials a {
    margin-right:1.2rem;
}


/* Project Section */

.projectContainer {
    margin-right: 1rem;
    margin-left: 1rem;
    /* background-color: red; */
    padding:0rem 13rem;
}

.contentHeader {
    font-size: 3.5rem;
    margin-top: 5rem;
    padding-top:2rem;
    font-weight: 400;
    text-shadow: .5px 1.5px 1px rgba(0,0,0,0.3);
}

hr {
    margin-top:4rem;
    margin-bottom:5rem;
}
.projectList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    margin-top: 4rem;
    font-weight: 300;
}
.projectList img {
    height:90%;
    width:90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}


.headerLine1 {
    width:100px;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
}

.headerLine2 {
    width:100px;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
}

.projectTitle {
    font-size: 3rem;
    margin-bottom:1rem;
    text-shadow: .5px 1.5px 1px rgba(0,0,0,0.3);
}


.projectSubTitle {
    font-size: 2rem;

}

.projectSubText {
    margin-top:1rem;
    font-size:1.5rem;
   
}

.projectMidSubText {
    padding-right:20px;
}

.moreBtn {
    font-size: 1.6rem;
    padding:.7rem 1.2rem;
    background-color: var(--off-white);
    transition:.3s;
}

.moreBtnContainer {
    display: flex;
    justify-content: center;
    margin-top:3rem;
}
.btnClass:hover {
    background-color: var(--light-teal);
    cursor: pointer;
}




/* Contact section */

.contactContainer {}

.contactHeader {
    font-size: 3.5rem;
    margin-top: 9rem;   
    margin-bottom: 3rem;
    margin-left: 19rem;
    padding-top:2rem;
    font-weight: 400;
    text-shadow: .5px 1.5px 1px rgba(0,0,0,0.3);
 
}
  
  #form {
    margin-left: 19rem;
    margin-right: 19rem;
    margin-bottom: 5rem;
    background-color: var(--off-white);
    border-radius: 15px;
  }

  .formContainer {
      border: .01px solid rgba(99, 99, 99, 0.144);
      width: 100%;
      border-radius: 15px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;   
    width: 100%;
    background: transparent;
    color: #726659;
    border:none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }


.formContainer div {
    padding:1rem;
    border-bottom: solid .1px #b3aca7;
}


  textarea {
    width: 100%;
    height: 17rem;
    background: transparent;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;   
    border:none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca717;
    color: #2b2b2b;
  }

  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
   
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  input:hover::placeholder, textarea:hover::placeholder {
    color: #c0c0c0;
    font-size: 0.875em;
  }
  
  
  
  textarea:hover {
    background: #b3aca717;
    color: #000000;
  }
  
  #submit {
    width:100%;
    padding:1rem;
    font-size: 1.2rem;   
    outline:none;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition:.5s;
    }
  
  #submit:hover {
    color: #777777;
    background-color:var(--light-teal)
  }



/* Footer  */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem;
    color:var(--white-dark);
    text-shadow: 1px 1px .1px rgba(0,0,0,0.3);
    /* border-top: 4px solid var(--main-red); */
    font-size: 1.4rem;
  
  }

  footer > p {
    margin: 1.2rem;
   
  }
  
  footer i {
    vertical-align: middle;
    color:var(--white-dark);
    text-shadow: 1px 1px .1px rgba(0,0,0,0.3);
  }

  .footerText {
    color:var(--white-dark);
    text-shadow: 3px 1px .1px rgba(0,0,0,0.3);
  }




/* Media Queries */


@media (max-width: 55.625em) {

    /* body {
        margin:0rem 1rem;
    } */
    /* Home Section Queries  */
    .homeContainer {
      padding:0rem 4rem;
      margin:0rem;
      text-align: center;
      min-height: 100vh;
    }
    .contactHeader {
        padding-top: 10rem;
    }
    .contactBtn {
        font-size: 1rem;
    }

    .home {
        font-size: 2rem;
    }

    .myName {
        font-size:3rem;
        
    }

    .contactHeader {
        font-size: 3rem;
    }
    .contentHeader {
        font-size: 3rem;
    }

    /* Project Queries  */
    
    .bottom-nav {
        font-size: .7rem;
        padding: 0rem 0.6rem;  
    }
    .bottom-nav2 {
        font-size: .7rem;
        padding: 0rem .6rem;  
    }
    .projectContainer {
        margin-right: 1rem;
        margin-left: 1rem;
        /* background-color: red; */
        padding:0rem 1.5rem;
    
    }
    
    .projectList {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 4rem;
        margin-left: 0rem;
        margin-right:0rem;
        
    }
    .projectContainer {
            margin-right: 2rem;
            margin-left: 2rem;
            
        }
    .projectTitle {
        padding-top:2rem;
    }

    .middleText {
        padding:0rem;
        padding-bottom: 2rem;
    }

    

        /* Contact Queries  */
    #form {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 4rem;
        background-color: var(--off-white);
      }
    .contactHeader {
        margin: 0rem;
        margin-left:2rem;
    }

    /* Nav Queries  */

    nav {
        display:flex;
        justify-content: center;
        font-size: 1rem;
        font-weight:300;
        position: fixed;
        transition: top 0.5s;
    }

    
    .navBar {
        padding:0rem .5rem;
        
    }
}

@media screen and (min-width: 1700px) {
    /* For Large screens */
  
    .homeContainer {
        min-height: 95vh;
        padding:0rem 1rem 4rem 25rem;
        font-size: 1.2rem;
      
    }
      
    #form {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 10rem;
    /* width: 500px;
    margin: 50px auto 100px auto; */
    }

    .contactHeader {
        margin-left: 25%;
        margin-right: 25%;
    }

    .projectContainer {
        padding:0rem 20rem;
        /* margin-right: 17rem;
        margin-left: 19rem; */
    }
    .bottom-nav {
        font-size: 1.6rem;        
    }
    .bottom-nav2 {
        font-size: 1.6rem;
       
    }
}