html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ---------------------------------------------------------------------------- */

:root {
    
    --off-white:#ffffff;
    --light-teal:#aaddec;
    --light-teal-hover:#aadbec91;
    --light-teal-hover-extra:#aadbec5e;
    /* --white-dark: #e1e2e1a8; */
    /* --white-dark: #eceff7; */
    --white-dark: #f4f9fc;
    --white-dark-faded: #f4f9fce3;
    --green: #9ccc64;
    --green2: #9cdabe;
    --dark-green: #6b9b36;
    --very-dark-green:#1d494c;
    --light-green: #9bdabe;
    --light-green-fade: #9bdabe81;
    --light-green-fademore: #9bdabe33;
    --darkish-blue: #0a1242;
    --dark-blue: #0f1b61;
    --dark-blue-faded2: #0f1b61ad;
    --dark-blue-faded3: #0f1b61de;
    --dark-blue-faded: #0a124242;
    --light-pink:#fff7f7;
    --purple:#7f00e0;
    --purpleMed:#7f00e050;
    --purple-faded:#7f00e034;
    --purple-faded-extra:#7f00e025;
    --pinkish: #f6799641;
    --pink: #FCC5D3;
    --light-orange:#ffd9a5;
    --orange:#fe5609;
    --brown:#48280b;
  }
 

html {
    scroll-behavior: smooth;
    background-color: white;
}


* {
    margin: 0;
    padding: 0;
    
}

body {
    line-height: 1;
    background-color: var(--white-dark);
    /* background-color: #aadbec2c; */
    /* font-family: Open Sans, sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Bitter', serif;
    z-index: 10;
    color:var(--dark-blue);
    margin:1.5rem 1.5rem;
    overflow-x: hidden;
    z-index: -1;
}


a {
    color: black;
    text-decoration: none; /* no underline */
  }

span   {
    color:var(--purple)
}

.spanPeriod {
    font-weight: 600;
}

/* Nav Bar */

nav {
    display:flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight:300;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
    transition: top 0.5s;
    /* margin-left: 50px; */
}

.navList {
    display: flex;
    justify-content: space-between;
    margin: 3.2rem 4.5rem 0rem 0rem;  
    background-color: var(--white-dark-faded);
    border-radius: 5px;
    
}

.navBar {
    /* padding:.8rem .8rem; */
    color:var(--dark-blue);
    font-weight: 400;
    /* background-color: var(--white-dark); */
    border-radius: 5px;
    transition:.5s;
}

.logo {
    font-size:2.3rem;
    font-weight: 400;
    padding:.5rem 1.3rem;
    transition:.8s;
    /* background-color: var(--light-teal-hover); */
    /* border-radius: 15px; */
}
.logo:hover {
  /* font-weight: 400;
  background-color: var(--purple-faded);
  border-radius:5px; */
}

.navNum1 {
    color: var(--light-teal);
}
.navNum2 {
    color:var(--green2);
}
.navNum3 {
    color: var(--pink);
}

.navBar span {
    font-weight:600;
    padding-right:.3rem;
}

.resumeBtn {
    padding:.6rem .8rem;
    border:1.5px solid var(--purple);
    background-color: var(--light-teal-hover-extra);
}
.resumeBtn:hover {
    background-color: var(--purple-faded-extra);
 }
.email-btn {
  color:var(--dark-blue);
  background-color: var(--purple-faded);
  border-radius: 50%;
  padding: 1rem 1rem;
  font-size: 2.2rem;
  transition: .2s;
}
.email-btn:hover {
  background-color: var(--light-teal);
}

/* Bottom Nav */

.bottom-nav {
    /* color:var(--white-dark);
    text-shadow: 1px 1px .1px rgba(0, 0, 0, 0.829); */
    color:rgba(128, 128, 128, 0.432);
    position:fixed;
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    bottom: 0;
    left: 0;
    padding:2.1rem 2.5rem 1rem 4rem;   
    z-index: 0;
    
}

.bottom-nav2 {
    /* color:var(--white-dark);
    /* text-shadow: 1px 1px .1px rgba(0, 0, 0, 0.829); */ 
    /* color:rgba(165, 165, 165, 0.589); */
    color:rgba(128, 128, 128, 0.432);
    position:fixed;
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    bottom: 0;
    right: 0;
    padding:2.1rem 4rem 1rem 1rem;   
    z-index: 0;
}

.footName {
    color:var(--dark-blue);
    color:rgba(128, 128, 128, 0.432);
}

/* Home Page  */

.homeContainer {
    min-height: 80vh;
    margin-left:1rem;
    margin-right:1rem;
    padding:0rem 10rem 0rem 15rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
    background-color: var(--white-dark);
  
    color:black;
    color: var(--dark-blue);
}



.home {
    padding:.5rem 0rem;
}

.btnClass {
    box-shadow: rgba(143, 151, 160, 0.3) 0px 1px 2px 2px, rgba(153, 163, 170, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
    display: inline-block;
    padding:.6rem 1.3rem;
    font-size: 2.1rem;
    font-weight: 200;
    margin-top: 1.5rem;
}

.contactBtn {
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    border-radius: 50%;
    display: inline-block;
    padding:.7rem .8rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1.1rem;
    transition:.3s;
    color: var(--dark-blue);
    background-color: white;
   
}

.contactBtn:hover {
    background-color:var(--purpleMed);
    cursor: pointer;
}
.github {
  background-color:var(--light-teal)
    /* background-color: var(--light-teal-hover); */
}

.email {
    background-color: var(--pink);
}

.linkedin {

  background-color: var(--light-green-fade); 
}

.subTitle {
    font-size:2.6rem;
    font-weight:400;
}
.smallHeader {
    font-size:2.6rem;
    font-weight:400;   
}
.myName {
    font-size:4.8rem;
   
    /* text-shadow: .5px 1.5px 1px rgba(0,0,0,0.3); */
    font-weight:500;
}
.socials a {
    margin-right:.6rem;
}


/* Project Section */

.projectContainer {
    padding:3rem 11rem 0rem 11rem;
}

.contentHeader {
    font-size: 3.5rem;
    padding-top:2rem;
    padding-bottom:1rem;
    font-weight: 500;
}

.projectList {
    display: flex;
    font-weight: 300;
    padding-bottom:3.5rem;
    padding-top: 3.5rem;
}

.projectList img {
    max-width:100%;
    max-height:auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.imageBox {
    margin-right:2rem;
}

.headerLine1 {
    width:120px;
    height:3px;
    border:none;
    background-color:var(--light-teal);
    transition:1s;
    margin-top:1rem;
}

.headerLine2 {
    width:130px;
    height:3px;
    border:none;
    background-color:var(--purple-faded);
    transition:1s;
    margin-top:1rem;
}
.projectContainer:hover .headerLine1 {
    width:250px;
    cursor: pointer;
}
.contactContainer:hover .headerLine2 {
    width:330px;
    cursor: pointer;
}
.projectTitle {
    font-size: 2.2rem;
    padding-bottom:0rem;
    font-weight: 500;
}
.projectSubTitle {
    font-size: 1.7rem;
    font-weight: 400;
}
.projectSubText {
    font-size:1.2em;
    font-weight: 400;
    color:black;
}

.projectText {
    padding:.3rem 0rem;
}

.projectMidSubText {
    margin-right:10px;
}

.moreBtn {
    font-size: 1.4rem;
    font-weight: 300;
    padding:.7rem 1.2rem;
    background-color: var(--white-dark);
    transition:.3s;
}

.moreBtnContainer {
    display: flex;
    justify-content: center;
    margin-top:0rem;
}
.btnClass:hover {
    background-color: var(--purple-faded);
    cursor: pointer;
}

.codeLogos i {
    padding:0rem 1rem 0rem 0rem;
    color:black;
}
.codeLogos {
    display:flex;
    align-items: center;
}
.detailsBtn {
    color:var(--dark-blue);
    font-size:1.2rem;
    font-weight:400;
 }
 .detailsBtn:hover {
     font-weight:600;
     cursor: pointer;
 }

/* image hover effect... */
.imageBox {
    position: relative;
    /* text-align: center; */
   }
.projectImg {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    top:50;
    bottom:50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .imageBox:hover .projectImg {
    opacity: 0.3;
  }

  .imageBox:hover .middle {
    opacity: 1;
    cursor: pointer;
  }
  
  .text {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 2px, rgba(60, 64, 67, 0.15) 0px ;
    border-radius: 5px;
    color: var(--white-dark);
    font-size: 1.06rem;
    font-weight: 400;
    padding: 1rem 1rem;
    transition:.2s;
    background-color: var(--dark-blue-faded2);
  }

  .text:hover {
    /* border-radius:15px; */
    background-color: var(--dark-blue-faded3);
  }


/* Contact section */

.contactContainer {}

.contactHeader {
    font-size: 3.5rem;
    margin-top: 9rem;   
    margin-bottom: 3rem;
    margin-left: 19rem;
    padding-top:2rem;
    font-weight: 500;
    /* text-shadow: .5px 1.5px 1px rgba(0,0,0,0.3); */
}
  
  #form {
    margin-left: 19rem;
    margin-right: 19rem;
    margin-bottom: 5rem;
    background-color: var(--off-white);
    border-radius: 15px;
  }

  .formContainer {
      border: .01px solid rgba(99, 99, 99, 0.144);
      width: 100%;
      border-radius: 15px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;   
    width: 100%;
    background: transparent;
    color: #726659;
    border:none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

.formContainer div {
    padding:1rem;
    border-bottom: solid .1px #b3aca7;
}

  textarea {
    width: 100%;
    height: 17rem;
    background: transparent;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;   
    border:none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: var(--light-green-fademore);
    color: #2b2b2b;
  }

  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
   
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  input:hover::placeholder, textarea:hover::placeholder {
    color: #c0c0c0;
    font-size: 0.875em;
  }
  
  textarea:hover {
    background: var(--light-green-fademore);
    color: #000000;
  }
  
  #submit {
    width:100%;
    padding:1rem;
    font-size: 1.2rem;   
    outline:none;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition:.5s;
    letter-spacing: 2px;
    }
  
  #submit:hover {
    color: #777777;
    background-color:var(--purple-faded-extra)
  }


/* Footer  */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 0rem;
    color:var(--white-dark); 
  
    /* border-top: 4px solid var(--main-red); */
    font-size: 1.4rem;
  
  }

  footer > p {
    margin: 1.2rem;
   
  }
  
  footer i {
    vertical-align: middle;
 
  }

  .footerText {
    /* color:var(--white-dark);
    text-shadow: 3px 1px .1px rgba(0,0,0,0.3); */
    color:rgba(165, 165, 165, 0.589);
  }


/* Hover Nav effect  */

.navBar {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .navBar:before, .navBar:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    top: 50%;
    margin-top: -0.5px;
    background: var(--purple);
  }
  
  .navBar:before {
    left: -2.5px;
  }
  .navBar:after {
    right: 2.5px;
    background: var(--purple);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .navBar:hover:before {
    background: var(--purple);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .navBar:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

.line-break {
   
    height:1px;
    border:none;
    background-color:var(--dark-blue-faded);
    transition:1s;
    margin-top:1rem;
}

.projectList {
  opacity: 1;
  transition: opacity 1s; 
}

.projectList.fade {
  opacity: 0;
}





/* Nav Slide Out Menu */

.openSlideMenu {
  	position: fixed;
    z-index: 1;
    color: var(--dark-blue);
    font-size:2.8rem;
    opacity: 1;
    transition: opacity .3s; 
    margin: .8rem 0rem 0rem 1rem;  
    
}
.openSlideMenu:hover {
  cursor: pointer;
  color: var(--light-teal)
}

.menu-items {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--light-teal);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.menu-items a {
	display: block;
	padding: 20px 30px;
	font-size: 2.1rem;
  font-weight: 500;
	text-decoration: none;
	color: var(--dark-blue);
}
.menu-items a:hover {
	color: #fff;
	transition: 0.4s;
  cursor: pointer;
}
.menu-items .close {
	position: absolute;
	right: 22px;
	margin-left: 50px;
	font-size: 34px;
  color:var(--dark-blue);
}

.close:hover {
  cursor: pointer;
  color:#fff;
}

#nav-menu {
	padding: 30px;
	transition: margin-left 0.5s;
	overflow: hidden;
	width: 100%;
} 
